<ion-header>
  <ion-navbar>
    <ion-title>
      About Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Welcome to About page of the ionic pro </h1><br>
  <h1>Welcome to About page of the ionic pro </h1><br>
  <h1>Welcome to About page of the ionic pro </h1><br>
</ion-content>
