<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Welcome to Contact page of the ionic pro </h1><br>
  <h1>Welcome to Contact page of the ionic pro </h1><br>
  <h1>Welcome to Contact page of the ionic pro </h1>
</ion-content>
